<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>My Orders</h1>
    {% for order in orders %}
    <div>
        <p>
           {{order.customer_name}} orders {{order.quantity}} {{order.food_topping}}s as it is {{order.description}}
        </p>
        <a href="/orders/{{orders.index(order)}}">view details</a>
    </div>
    {% endfor %}
    
</body>
</html>